* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0; 
}


/* nav {
    padding: 1% 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: lavender;
} */



/* .title {
    font-size: 15px; */
    /*position: absolute;
    left: 50%;
    transform: translate(-50%);*/
    /* text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 10px; */
/* }

.icon {
    text-align: right;
    padding-right: 1px;
    color: black;
    width: 100%;
    font-size: 20px;
    /*float: right;
    display: block;}*/
    /* text-decoration: none;
    padding-top: 20px; */

/* main {
    margin-top: 60px; /*temp may change*/
/* } */ 

/* .header { */
    /* background: white; */
    /*width: 100%;*/
    /* margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
} */


.bgControl {
    background-image: /*linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0)
       ),*/url("https://raw.githubusercontent.com/jobal22/Fountain-Pen-API/master/img/fountain-pen-1854169.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    background-position: right top;
    padding-top: 230px;
    padding-bottom: 230px;
}

.lbgControl {
    background-image: url("https://github.com/jobal22/Fountain-Pen-API/blob/master/img/sea-2927115_1920%20(1).jpeg?raw=true");
    background-attachment: fixed;
    background-size: fill;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    padding-bottom: 200px;
    padding-top: 80px;


}

/* .header-p {
    font-size: 18px;
    width: 300px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
} */

/*.infoContent {*/
    /*padding: 20px;*/
    /*padding-top: 40px;
    text-align: center;
}*/



/* .brand1, .brand2, .shop {
    list-style: none;
    
} */

/* .penOptions {
    color: white;
} */

/* .penOptions ul li {
    display: inline-block;
}

.penOptions ul a {
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.penBrand, .penBrand1 {
    padding-left: 10px;
    text-decoration: none;
}

.penShop {
    padding-left: 13px; */
    /*stretch out this!!!!*/
    /* text-decoration: none;
} */


#js-form {
    text-align: center;
    padding-top: 125px;
    padding-bottom: 155px;
    display: inline-block;
    width: 70%; /*centered*/
    /* display: flex; 
    justify-content: center; */
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translate(13%); */
}

#js-search-term {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0;
    border-radius: 4px;
    font-size: 34px;
    /* width: 190px; */
}


input[type=text] {
    background-color:  rgba(255, 255, 255, 0);
    border-top: rgba(255, 255, 255, 0);
    border-left: rgba(255, 255, 255, 0);
    border-right: rgba(255, 255, 255, 0);
  }

  input[type=text], textarea {
      color: white;
      text-shadow: 1px 1px 8px rgb(5, 5, 5);
      text-transform: uppercase;
  }

  input:focus {
    outline:none;
}

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
    font-weight: bold;
    font-family: 'Cinzel', 'Caveat', 'Libre Baskerville','Raleway' ;
    text-shadow: 1px 1px 8px rgb(5, 5, 5);
    border: white;
    font-size: 20px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Cinzel', 'Caveat', 'Libre Baskerville','Raleway' ;
    text-shadow: 1px 1px 8px rgb(5, 5, 5);
    border: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Cinzel', 'Caveat', 'Libre Baskerville','Raleway' ;
    text-shadow: 1px 1px 8px rgb(5, 5, 5);
    border: white;
  }

/* button {
    padding: 0;
    margin: 0;
    border-radius: 4px;
    font-size: 44px;
    text-shadow: 1px 1px 8px rgb(5, 5, 5);
    text-transform: uppercase;
    font-family: 'Cinzel', 'Caveat', 'Libre Baskerville','Raleway' ;
    letter-spacing: 10px;
    width: 225px;
    background: rgba(255, 255, 255, 0); 
    border: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
} */

button:focus {
    outline:none;
}

button:hover{
    color: rgb(202, 202, 202);
}


.display {
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    background-color: white;
    width: 400px;
}

.display h3 {
    text-align: center;
}

.display h4 {
    width: 150px;
    font-size: 16px;
}

.display h4, img {
    display: inline-block;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.display p {
    text-align: right;
    padding-right: 8%;
}

.display .etsy-logo {
    width: 100px;
   position: relative;
   left: 35%;
}

.display .youtube-logo {
    width: 120px;
   position: relative;
   left: 35%;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.toSea {
    color: white;
    position: absolute;
    bottom: 38%;
    /* left: 40%; */
    /* position: relative;  
    text-align: center;
    vertical-align: bottom; */
    font-family: 'Cinzel', 'Caveat', 'Libre Baskerville','Raleway' ;
    text-shadow: 1px 1px 8px rgb(5, 5, 5);


}

@media screen and (max-width: 1029px) {

    section {
        /*this margin centered the section*/
        margin: 0 auto;
    }

    /* .hamburger {
        position: fixed;
        left: 96%;
    }

    .topnav ul{ */
        /* display: flex; */
        /* text-align: center;
        list-style: none;
        margin:0;
        padding-bottom: 5px; */
        /* padding: 10px; */
      /* }

      .topnav ul li {
        float:none;
        display: inline-block; 
        list-style: none;
      }

      .topnav ul  a {
        margin: 0 20px; 
        text-decoration: none;
        color: black;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
      } */

      /* .icon { */
        /*text-align: right;
        padding-right: 13px;
        color: white;
        width: 100%;
        font-size: 40px;*/
        /* float: right;
        display: block;
        } */

      /* .menu {display: none;} */

      /* .infoContent { */
        /*padding: 20px;*/
        /* padding-top: 40px;
        text-align: center;
    } */

    #js-search-term {
        width: 190px;
    }

    button {
        padding: 0;
        margin: 0;
        border-radius: 4px;
        font-size: 44px;
        text-shadow: 1px 1px 8px rgb(5, 5, 5);
        text-transform: uppercase;
        font-family: 'Cinzel', 'Caveat', 'Libre Baskerville','Raleway' ;
        letter-spacing: 10px;
        width: 225px;
        background: rgba(255, 255, 255, 0); 
        border: rgba(255, 255, 255, 0);
        color: rgb(255, 255, 255);
    }
    
    
    .toSea {
        left: 30%;
    }
    

}

@media screen and (min-width: 1030px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }

    .title {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .nav-container {
      display: flex;
    }

    .icon {display: none;}

    .topnav {
        max-width: 1170px;
        margin: auto;
        position: relative;
      }    

      .topnav ul{
        text-align: center;
        margin:0;
        padding-top: 65px;
      }
    
      .topnav ul li {
        float:none;
        display: inline-block; 
        list-style: none;
      }

      .topnav ul  a {
        margin: 0 20px; 
        text-decoration: none;
        color: black;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
      }

      .infoContent {
        /*padding: 20px;*/
        padding-top: 50px;
        text-align: center;
      }

      .header-p {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
      }

      #js-search-term {
        width: 390px;
    }


      /*The .box centered*/
      .box {
          display: flex;
          justify-content: space-evenly;
      }

      /* .display{
        display: inline-block; */
        /* width: 600px; 
      }*/

      button {
        padding: 0;
        margin: 0;
        border-radius: 4px;
        font-size: 44px;
        text-shadow: 1px 1px 8px rgb(5, 5, 5);
        text-transform: uppercase;
        font-family: 'Cinzel', 'Caveat', 'Libre Baskerville','Raleway' ;
        letter-spacing: 10px;
        width: 225px;
        background: rgba(255, 255, 255, 0); 
        border: rgba(255, 255, 255, 0);
        color: rgb(255, 255, 255);
    }
    

      .toSea {
        left: 40%;
    }
}