* {
    box-sizing: border-box;
}

body {
    margin: 0; 
}


nav {
    padding: 1% 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: lavender;
}



.title {
    font-size: 15px;
    /*position: absolute;
    left: 50%;
    transform: translate(-50%);*/
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 10px;
}

.icon {
    text-align: right;
    padding-right: 1px;
    color: black;
    width: 100%;
    font-size: 20px;
    /*float: right;
    display: block;}*/
    text-decoration: none;
    padding-top: 20px;
}

main {
    margin-top: 60px; /*temp may change*/
}

.header {
    /* background: white; */
    /*width: 100%;*/
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.bgControl {
    background-image: /*linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0)
       ),*/url("https://raw.githubusercontent.com/jobal22/Fountain-Pen-API/master/img/fountain-pen-1854169.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-top: 180px;
    padding-bottom: 180px;
}

.lbgControl {
    background-image: url("https://github.com/jobal22/Fountain-Pen-API/blob/master/img/paint-2174687_1280%20(1).png?raw=true");
    /* background-attachment: fixed; */
    background-size: 2000px;
    background-repeat: repeat;
    background-attachment: scroll;
}

.header-p {
    font-size: 18px;
    width: 300px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

/*.infoContent {*/
    /*padding: 20px;*/
    /*padding-top: 40px;
    text-align: center;
}*/



.brand1, .brand2, .shop {
    list-style: none;
    
}

/* .penOptions {
    color: white;
} */

.penOptions ul li {
    display: inline-block;
}

.penOptions ul a {
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.penBrand, .penBrand1 {
    padding-left: 10px;
    text-decoration: none;
}

.penShop {
    padding-left: 13px;
    /*stretch out this!!!!*/
    text-decoration: none;
}

#js-form {
text-align: center;
}

#js-search-term {
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
}

button {
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    width: 80px;
    
    /* LOOK AT THIS */
    /* border: 3px solid ghostwhite;
    padding: 8px 13px;
    color: ghostwhite;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 2px;
    background: rgba(255, 255, 255, 0.25);
    transition: color 0.25s linear;
    text-shadow: 0 0 3px #555555;
    position: relative;
    left: -3px;
    border-radius: 0; */
}


.display {
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    background-color: white;
}

.display h3 {
    text-align: center;
}

.display h4 {
    width: 150px;
    font-size: 16px;
}

.display h4, img {
    display: inline-block;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.display p {
    text-align: right;
    padding-right: 8%;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1029px) {

    section {
        /*this margin centered the section*/
        margin: 0 auto;
    }

    .hamburger {
        position: fixed;
        left: 96%;
    }

    .topnav ul{
        /* display: flex; */
        text-align: center;
        list-style: none;
        margin:0;
        padding-bottom: 5px;
        /* padding: 10px; */
      }

      .topnav ul li {
        float:none;
        display: inline-block; 
        list-style: none;
      }

      .topnav ul  a {
        margin: 0 20px; 
        text-decoration: none;
        color: black;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
      }

      .icon {
        /*text-align: right;
        padding-right: 13px;
        color: white;
        width: 100%;
        font-size: 40px;*/
        float: right;
        display: block;
        }

      .menu {display: none;}

      .infoContent {
        /*padding: 20px;*/
        padding-top: 40px;
        text-align: center;
    }


}

@media screen and (min-width: 1030px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }

    .title {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .nav-container {
      display: flex;
    }

    .icon {display: none;}

    .topnav {
        max-width: 1170px;
        margin: auto;
        position: relative;
      }    

      .topnav ul{
        text-align: center;
        margin:0;
        padding-top: 65px;
      }
    
      .topnav ul li {
        float:none;
        display: inline-block; 
        list-style: none;
      }

      .topnav ul  a {
        margin: 0 20px; 
        text-decoration: none;
        color: black;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
      }

      .infoContent {
        /*padding: 20px;*/
        padding-top: 50px;
        text-align: center;
      }

      .header-p {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
      }

      /*The .box centered*/
      .box {
          display: flex;
          justify-content: space-around;
      }

      .display{
        display: inline-block;
      }

}