* {
    box-sizing: border-box;
}

body {
    margin: 30px;
}

.infoContent {
    border: 2px solid black;
    padding: 20px;
}

.display {
    border: 1px solid black;
    padding: 20px;
}

.error-message {
    color: red;
}